@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Bahnschrift";
  src: url(/assets/fonts/BAHNSCHRIFT.TTF);
}
* {
  scroll-behavior: smooth !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* header */
.hover_stroke:hover {
  -webkit-text-stroke-width: 0.3px;
}
.global .slick-current div .border {
  @apply !border-slat shadow-[0px_4px_26px_2px_#2B587F80];
}
.global .slick-current div .bg-transparent {
  @apply bg-slat;
}
.global .slick-slide {
  @apply !w-full;
}
.global .slick-current .text-white {
  @apply !text-slat;
}
/* blog */
.blog .slick-list {
  overflow: unset !important;
}
@media (min-width: 725px) {
  .blog .slick-current + div .border {
    @apply !border-slat shadow-[0px_4px_26px_2px_#2B587F80] translate-y-[-40px];
  }
  .blog .slick-current + div .bg-transparent {
    @apply bg-slat;
  }
  .blog .slick-current + .text-white {
    @apply !text-slat;
  }
  .blog .slick-current + div .read {
    @apply !text-slat mb-7;
  }
}
@media (max-width: 725px) {
  .blog .slick-current div .border {
    @apply !border-slat shadow-[0px_4px_26px_2px_#2B587F80] translate-y-[-40px];
  }
  .blog .slick-current div .bg-transparent {
    @apply bg-slat;
  }

  .blog .slick-current .text-white {
    @apply !text-slat;
  }
  .blog .slick-current div .read {
    @apply !text-slat mb-7;
  }
}
/* get update */
.assent_orange {
  accent-color: #cd520f;
}
.assent_slat {
  accent-color: #2b587f;
}
