@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Bahnschrift";
  src: url(/assets/fonts/BAHNSCHRIFT.TTF);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* header */
.hover_stroke:hover {
  -webkit-text-stroke-width: 0.3px;
}
.slick-active div .border {
  @apply !border-slat shadow-[0px_4px_26px_2px_#2B587F80];
}
.slick-active div .bg-transparent {
  @apply bg-slat;
}
.slick-slide {
  @apply !w-full;
}
.slick-active .text-white {
  @apply !text-slat;
}
